chardet==3.0.4
cssselect==1.1.0
fake-useragent==0.1.11
holidays==0.9.12
idna==2.8
joblib==0.14.1
lxml==4.4.2
MouseInfo==0.1.2
numpy==1.18.0
pandas==0.25.3
parse==1.14.0
Pillow>=6.2.2
psutil==5.6.7
PyAutoGUI==0.9.38
pyee==6.0.0
PyGetWindow==0.0.8
PyMsgBox==1.0.7
pyobjc-core==6.1
pyobjc==6.1
pyperclip==1.7.0
pyppeteer==0.0.25
pyquery==1.4.1
PyRect==0.1.4
PyScreeze==0.1.25
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2019.3
requests-html==0.10.0
requests==2.22.0
scikit-learn==0.22
scipy==1.4.1
six==1.13.0
sklearn==0.0
soupsieve==1.9.5
tqdm==4.41.0
urllib3==1.25.7
w3lib==1.21.0
websockets==8.1
XlsxWriter==1.2.7
xlwings==0.16.4
yahoo-fin==0.8.4
